[submodule "bb_envs"]
	path = bb_envs
	url = git@github.com:kouroshHakha/bb_envs.git
[submodule "blackbox_eval_engine"]
	path = blackbox_eval_engine
	url = git@github.com:kouroshHakha/blackbox_eval_engine.git
[submodule "utils"]
	path = utils
	url = git@github.com:kouroshHakha/MLutils.git
